/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment temporarily to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* BASE SETTINGS *************************/

/* Settings to make it easier for you
   uncomment permanently when you understand the meaning of them */
   
/* border is included in width en height of boxes */
/* * { box-sizing: border-box; } */

/* standard margin 0 pixels */
/* * { margin: 0px; } */

/* hide everything larger than the dimensions of the div-box
   important side effect: browser usually doesn't take floats
   into account when determining height of div, leading to 
   div with height zero. With this settings, height of div-boxes
   willl be large enough to fit floats inside. */
/* div { overflow: hidden; }

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */
:root {
    --bg-light: #f9fffb;
    --text-dark: #1a242e;
    --font-main: 'Segoe UI', sans-serif;

    --h1-bg: #C1ECAF;
    --h1-text: #ffffff;
    --h2-text: #74A9CB;
    --h2-border: var(--h1-bg);
    --h3-text: #ffffff;

    --list-bg: #e8f8f0;
    --list-border: #3d7935;
    --strong-text: var(--h3-text);
    --code-bg: #f0f0f0;

    --def-bg: #f2fef9;
    --def-border: var(--h1-bg);
    --def-title: var(--text-dark);

    --nav-bg:#6B8599;
    --nav-text: var(--code-bg);
    --main: #EBF4F9;

    --footer-bg: #95AAC7; 
    --footer-text: var(--h1-text);
    --header: #758FAA; 
}

body { 
  display:grid;
  grid-template-areas:
  "header header"
  "nav nav"
  "main main"
  "footer footer";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70px  60px 1fr 60px;   
  color: var(--text-dark);
  background: var(--bg-light);
  min-height: 100svh;
  font-family: var(--font-main);
} 
header{
  grid-area: header; 
  background-color:var(--header);
  
}
nav{
  grid-area: nav; 
}
main{
  grid-area: main;
background-color: var(--main);
} 
footer{
  grid-area: footer;
  
}
article{
  flex:0 0 20%;
  border-style:outset;
  margin: 20px;
  padding: 1px;
}
section{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:center;
  align-content:space-around;
}
article img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
}
nav{

  background-color: var(--nav-bg);

}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
nav a {
  text-decoration: none;
  color: var(--h1-text);
}
nav a:hover {
  border-bottom: 2px solid var(--h3-text);
}


/* Andere stijling */
footer {
    background-color: var(--footer-bg);
}
h2 {
    color: var(--h2-text);
    font-size: 1.6rem;
    border-bottom: 2px solid var(--h2-border);
    padding-bottom: 5px;
    margin: 10px 50px 20px 50px;
}
h1 {
    color:var(--text-dark);
    border-radius: 12px;
    font-size: 2.2rem; 
    margin-left: 20px;
}
